<div class="order-success-container">
  <div class="icon">
    <img src="assets/image.png" alt="Success Icon" />
  </div>
  <p class="message">
    hurray!!! your order is confirmed <br />
    the order id is <strong>#123456</strong> save the order id for <br />
    further communication..
  </p>

  <div class="contact-table">
    <div class="contact-row">
      <div class="contact-col">
        <p class="heading">Email us</p>
        <a href="mailto:dishakamble24@gmail.com">dishakamble24&#64;gmail.com</a>
      </div>
      <div class="contact-col">
        <p class="heading">Contact us</p>
        <p>+91 7083114762</p>
      </div>
      <div class="contact-col">
        <p class="heading">Address</p>
        <p>
          Jijamata Nagar,<br />
          near Pranjal Aqua, Prakash Nagar, Latur 413512
        </p>
      </div>
    </div>
  </div>

  <button class="continue-button" [routerLink]="['/dashboard/home']">
    CONTINUE SHOPPING
  </button>
</div>